<!doctype html>
<head lang="en">
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d15b038ad9.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custome style sheet -->
        <link rel="stylesheet"  href="stylecustom.css" type="text/css">

        <link rel="stylesheet" href="owl_carousel/css/owl.carousel.min.css" type="text/css" >
        <link rel="stylesheet" href="owl_carousel/css/owl.theme.min.css" type="text/css" >
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <title>ABIYAT</title>    
        
        <style>
        .floatLeft {
        display: inline-block;
        }
        
        .shadow-sm-category{
        /* border: 1px solid #000000; */
        border-radius: 50%;
        padding: 10%;
        background-color: #e5efe5;
        }
        
        .categories-section::-webkit-scrollbar {
        width: 0px;
        background: transparent; /*/ make scrollbar transparent / */
        }
        </style>   

    </head>


<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <div class="super_container">
            <!-- Header -->
            <header class="header">
				<!-- Top Bar -->
				<div class="top_bar">
					<div class="container-fluid">
						<div class="row">
							<div class="col d-flex flex-row">
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="fab fa-whatsapp"></i><a href="#" class="text-white pl-2 ">+91 9823 132 111</a></div>
								</div>
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="far fa-envelope"></i><a href="#" class="text-white pl-2 ">contact@abiyat.com</a></div>
								</div>
								<div class="top_bar_content ml-auto">
									<div class="top_bar_menu">
										<ul class="standard_dropdown top_bar_dropdown">
											<li> <a href="#" class="text-white">English<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">Italian</a></li>
													<li><a href="#">Spanish</a></li>
													<li><a href="#">Japanese</a></li>
												</ul>
											</li>
											<li> <a href="#" class="text-white">$ US dollar<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">EUR Euro</a></li>
													<li><a href="#">GBP British Pound</a></li>
													<li><a href="#">JPY Japanese Yen</a></li>
												</ul>
											</li>
											
												<!-- <li><a class="text-white" href="{{ route('accounts', ['tab' => 'profile']) }}"><i class="fa fa-home"></i> My Account</a></li> -->
												<!-- <li><a class="text-white" href="{{ route('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li> -->
										
												<li><a class="text-white" href="{{ route('login') }}"> <i class="fas fa-lock"></i> Login</a></li>
												<li><a class="text-white" href="{{ route('register') }}"> <i class="fas fa-sign-in"></i> Register</a></li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Header Main -->
				<div class="header_main">
					<div class="container-fluid">
						<div class="row">
							<!-- Logo -->
							<div class="col-lg-2 col-sm-10 col-10 order-1">
								<div class="logo_container  menu_burger">
								
								
									<div class="logo " style="display: inline-block;"><a href="{{route('home')}}" class="text-white" >Abiyat</a></div>
								</div>
							
							</div> <!-- Search -->
							<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
								<div class="header_search">
									<div class="header_search_content">
										<div class="header_search_form_container">
											<form action="#" class="header_search_form clearfix"> <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
												<div class="custom_dropdown" style="display: none;">
													<div class="custom_dropdown_list"> <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
														<ul class="custom_list clc">
															<li><a class="clc" href="#">All Categories</a></li>
															<li><a class="clc" href="#">Computers</a></li>
															<li><a class="clc" href="#">Laptops</a></li>
															<li><a class="clc" href="#">Cameras</a></li>
															<li><a class="clc" href="#">Hardware</a></li>
															<li><a class="clc" href="#">Smartphones</a></li>
														</ul>
													</div>
												</div> <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
											</form>
										</div>
									</div>
								</div>
							</div> <!-- Wishlist -->
							<div class="col-lg-4 col-2 order-lg-3 order-2 text-lg-left text-right">
								<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
									<div class="wishlist d-flex flex-row align-items-center justify-content-end">
										<div class="wishlist_icon"><img src="images/wishlisticon.png" alt=""></div>
										<div class="wishlist_content">
											<div class="wishlist_text"><a href="#">Wishlist</a></div>
											<div class="wishlist_count">10</div>
										</div>
									</div> <!-- Cart -->
									<a href="{{ route('cart.index') }}">
									<div class="cart">
										<div class="cart_container d-flex flex-row align-items-center justify-content-end">
											<div class="cart_icon"> <img src="images/carticon.png" alt="">
												<div class="cart_count"><span>2</span></div>
											</div>
											<div class="cart_content">
												<div class="cart_text"><a href="#">Cart</a></div>
												<div class="cart_price">$185</div>
											</div>
										</div>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Main Navigation -->
				 <div class="main_header_area animated">
				    <div class="container-fluid">
				      <nav id="navigation1" class="navigation">
				        <!-- Logo Area Start -->
				        <div class="nav-header">
				          <a class="nav-brand" href="index-minimal.html#"></a>
				          <div class="nav-toggle"></div>
				        </div>
				        <!-- Search panel Start -->
				       
				        <!-- Main Menus Wrapper -->
				        <div class="nav-menus-wrapper">
				          <ul class="nav-menu">
				            <li><a href="#">Home</a>
				              <div class="megamenu-panel">
				                <div class="megamenu-lists">
				                  <ul class="megamenu-list list-col-4">
				                    <li><a href="" target="_blank">Business 1</a></li>
				                    <li><a href="" target="_blank">Business 2</a></li>
				                    <li><a href="" target="_blank">Business 3</a></li>
				                    <li><a href="index-agency.html" target="_blank">Agency 1</a></li>
				                    <li><a href="" target="_blank">Agency 2</a></li>
				                    <li><a href="" target="_blank">Creative Light</a></li>
				                    <li><a href="" target="_blank">Creative Dark</a></li>
				                    <li><a href="" target="_blank">Personal Portfolio</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li><a href="" target="_blank">Vimeo Video</a></li>
				                    <li><a href="" target="_blank">YouTube Video</a></li>
				                    <li><a href="" target="_blank">HTML5 Local Video</a></li>
				                    <li><a href="" target="_blank">Agency</a></li>
				                    <li><a href="" target="_blank">App Showcase</a></li>
				                    <li><a href="" target="_blank">Creative</a></li>
				                    <li><a href="" target="_blank">Business</a></li>
				                    <li><a href="" target="_blank">Education</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li><a href="" target="_blank">Fitness &amp; Gym</a></li>
				                    <li><a href="" target="_blank">Gardening</a></li>
				                    <li><a href="" target="_blank">Hosting</a></li>
				                    <li><a href="" target="_blank">HTML5 Video</a></li>
				                    <li><a href="" target="_blank">Medical</a></li>
				                    <li><a href="" target="_blank">Minimal Portfolio</a></li>
				                    <li><a href="" target="_blank">Photography</a></li>
				                    <li><a href="" target="_blank">Product Showcase</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li><a href="" target="_blank">Restaurant</a></li>
				                    <li><a href="" target="_blank">Resume &amp; CV</a></li>
				                    <li><a href="" target="_blank">Service Landing</a></li>
				                    <li><a href="" target="_blank">Slideshows</a></li>
				                    <li><a href="" target="_blank">Spa &amp; Beauty</a></li>
				                    <li><a href="" target="_blank">Startup</a></li>
				                    <li><a href="" target="_blank">Vimeo Video</a></li>
				                    <li><a href="" target="_blank">YouTube Video</a></li>
				                  </ul>
				                </div>
				              </div>
				            </li>
				            <li><a href="#">Level 1</a>
				              <ul class="nav-dropdown">
				                <li><a href="index-minimal.html#">Header</a>
				                  <ul class="nav-dropdown">
				                    <li><a href="" target="_blank">Simple</a></li>
				                    <li><a href="" target="_blank">Two Menus</a></li>
				                    <li><a href="" target="_blank">Centered</a></li>
				                    <li><a href="" target="_blank">Search Panel</a></li>
				                    <li><a href="" target="_blank">Button &amp; Text</a></li>
				                    <li><a href="" target="_blank">Dropdown</a></li>
				                    <li><a href="" target="_blank">Horizontal Dropdown</a></li>
				                    <li><a href="" target="_blank">Megamenu List</a></li>
				                    <li><a href="" target="_blank">Megamenu Tabs</a></li>
				                    <li><a href="" target="_blank">Social Links</a></li>
				                    <li><a href="" target="_blank">Always Hidden</a></li>
				                    <li><a href="" target="_blank">Icons</a></li>
				                    <li><a href="" target="_blank">Striped Skin</a></li>
				                    <li><a href="" target="_blank">Rounded Skin</a></li>
				                    <li><a href="" target="_blank">Box Skin</a></li>
				                  </ul>
				                </li>
				                <li><a href="index-minimal.html#">Level 2</a>
				                  <ul class="nav-dropdown">
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-1 target="_blank">Contact Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-2.html" target="_blank">Contact Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-3.html" target="_blank">Contact Layout 3</a></li>
				                        <li><a href="index-minimal.html#">Level 3</a>
				                        <ul class="nav-dropdown">
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-1.html" target="_blank">Contact Layout 1</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-2.html" target="_blank">Contact Layout 2</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-3.html" target="_blank">Contact Layout 3</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-4.html" target="_blank">Contact Layout 4</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-5.html" target="_blank">Contact Layout 5</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-6.html" target="_blank">Contact Layout 6</a></li>
				                          <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-7.html" target="_blank">Contact Layout 7</a></li>
				                        </ul>
				                      </li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-5.html" target="_blank">Contact Layout 5</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-6.html" target="_blank">Contact Layout 6</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-7.html" target="_blank">Contact Layout 7</a></li>
				                  </ul>
				                </li>
				                <li><a href="index-minimal.html#">Coming Soon</a>
				                  <ul class="nav-dropdown">
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-bg-img.html" target="_blank">Coming Soon - 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-default.html" target="_blank">Coming Soon - 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-youtube-video.html" target="_blank">Coming Soon - 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-vimeo-video.html" target="_blank">Coming Soon - 4</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-background-color.html" target="_blank">Coming Soon - 5</a></li>
				                  </ul>
				                </li>
				                <li><a href="../revolution-slider/index.html" target="_blank">Premium Sliders</a></li>
				                <li><a href="../classy-shortcodes/index.html" target="_blank">Shortcodes <span class="label label-pill label-primary">New</span></a></li>
				                <li><a href="../classy-shortcodes/breadcumb.html" target="_blank">Breadcumb</a></li>
				                <li><a href="../classy-shortcodes/footer.html" target="_blank">Footer</a></li>
				                <li><a href="../classy-shortcodes/icon-pe-7-stroke.html" target="_blank">Icons</a></li>
				                <li><a href="../classy-shortcodes/buttons.html" target="_blank">Buttons</a></li>
				                <li><a href="../classy-shortcodes/call-to-action.html" target="_blank">Call to Action</a></li>
				                <li><a href="../classy-shortcodes/google-maps.html" target="_blank">Google Maps</a></li>
				                <li><a href="../classy-shortcodes/pie-skills.html" target="_blank">Pie &amp; Skills</a></li>
				                <li><a href="../classy-shortcodes/ratings.html" target="_blank">Ratings</a></li>
				                <li><a href="../classy-shortcodes/vector-maps.html" target="_blank">Vector Maps</a></li>
				              </ul>
				            </li>
				            <li><a href="index-minimal.html#">Pages</a>
				              <div class="megamenu-panel">
				                <div class="megamenu-lists">
				                  <ul class="megamenu-list list-col-3">
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/about-us-1.html" target="_blank">About Us 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/about-us-2.html" target="_blank">About Us 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/about-us-3.html" target="_blank">About Us 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/service-1.html" target="_blank">Service Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/service-2.html" target="_blank">Service Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/service-3.html" target="_blank">Service Layout 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/404.html" target="_blank">404 Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/404-2.html" target="_blank">404 Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/404-3.html" target="_blank">404 Layout 3</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-3">
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-bg-img.html" target="_blank">Coming Soon Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-default.html" target="_blank">Coming Soon Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-youtube-video.html" target="_blank">Coming Soon Layout 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-vimeo-video.html" target="_blank">Coming Soon Layout 4</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/coming-soon-background-color.html" target="_blank">Coming Soon Layout 5</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/500.html" target="_blank">500 Error</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/empty-page.html" target="_blank">Empty Page</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/faq-1.html" target="_blank">FAQ</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/search.html" target="_blank">Search Result</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-3">
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-1.html" target="_blank">Contact Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-2.html" target="_blank">Contact Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-3.html" target="_blank">Contact Layout 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-4.html" target="_blank">Contact Layout 4</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-5.html" target="_blank">Contact Layout 5</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-6.html" target="_blank">Contact Layout 6</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/contact-7.html" target="_blank">Contact Layout 7</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/subscribe-newsletter.html" target="_blank">Subscribe Newsletter</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/under-maintenance.html" target="_blank">Under Maintenance</a></li>
				                  </ul>
				                </div>
				              </div>
				            </li>
				            <li><a href="index-minimal.html#">Portfolio</a>
				              <div class="megamenu-panel">
				                <div class="megamenu-lists">
				                  <ul class="megamenu-list list-col-5">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Masonary</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-2-column.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-3-column.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-4-column.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-6-column.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-full-width.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-5">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Masonary No Gutter</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-2-column-no-gutter.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-3-column-no-gutter.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-4-column-no-gutter.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-6-column-no-gutter.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-masonary-full-width-no-gutter.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-5">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Grid</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-2-column.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-3-column.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-4-column.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-6-column.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-full-width.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-5">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Grid No Gutter</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-2-column-no-gutter.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-3-column-no-gutter.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-4-column-no-gutter.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-6-column-no-gutter.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-grid-full-width-no-gutter.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-5">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Portfolio Details</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-embed-video.html" target="_blank">Embed Video</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-masonary-thumb.html" target="_blank">Masonary Thumb</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-single-thumb.html" target="_blank">Single Thumb</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-slider-gallery.html" target="_blank">Slider Gallery</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-youtube-video.html" target="_blank">YouTube Video</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/portfolio-details-vimeo-video.html" target="_blank">Vimeo Video</a></li>
				                  </ul>
				                </div>
				              </div>
				            </li>
				            <li><a href="index-minimal.html#">Blog</a>
				              <div class="megamenu-panel">
				                <div class="megamenu-lists">
				                  <ul class="megamenu-list list-col-4">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Masonary Layout</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-2c.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-3c.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-4c.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-6c.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-full-width.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Grid Layout</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-2c.html" target="_blank">2 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-3c.html" target="_blank">3 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-4c.html" target="_blank">4 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-6c.html" target="_blank">6 Column</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-full-width.html" target="_blank">Full Width</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Sidebar Layout</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-with-left-sb.html" target="_blank">Left Sidebar Grid</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-with-left-sidebar.html" target="_blank">Left Sidebar Masonary</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-grid-with-right-sb.html" target="_blank">Right Sidebar Grid</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-masonary-with-right-sidebar.html" target="_blank">Right Sidebar Masonary</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-without-sidebar.html" target="_blank">No Sidebar</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/blog-with-left-right-sidebar.html" target="_blank">Both Side Sidebar</a></li>
				                  </ul>
				                  <ul class="megamenu-list list-col-4">
				                    <li class="megamenu-list-title"><a href="index-minimal.html#">Blog Details</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-1.html" target="_blank">Single Blog Layout 1</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-2.html" target="_blank">Single Blog Layout 2</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-3.html" target="_blank">Single Blog Layout 3</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-4.html" target="_blank">Single Blog Layout 4</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-5.html" target="_blank">Single Blog Layout 5</a></li>
				                    <li><a href="http://demo.designing-world.com/classy-baao/classy-multipage/single-blog-6.html" target="_blank">Single Blog Layout 6</a></li>
				                  </ul>
				                </div>
				              </div>
				            </li>
				            <li><a href="../classy-shortcodes/index.html" target="_blank">Shortcodes <span class="label label-pill label-primary">New</span></a></li>
				            <li><a href="../classy-onepage/all-demo-pages.html" target="_blank">One Page</a></li>
				          </ul>
				        </div>
				      </nav>
				    </div>
			  </div>
			</header>
			
			 
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="mt-5 mb-3">My Account</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<nav>
						  <div class="nav nav-tabs mayaccount" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile</a>
						    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Order</a>
						    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Addresses</a>
						  </div>
						</nav>
						<div class="tab-content pt-5" id="nav-tabContent">
						  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

						  	<div class="container">
							    <div class="main-body">
									<div class="row gutters-sm">
							            <div class="col-md-4 mb-3">
							              <div class="card">
							                <div class="card-body">
							                  <div class="d-flex flex-column align-items-center text-center">
							                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
							                    <div class="mt-3">
							                      <h4>Zeeshan</h4>
							                    </div>
							                  </div>
							                </div>
							              </div>
							              <div class="card mt-3">
							                <ul class="list-group list-group-flush">
							                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
							                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
							                    <span class="text-secondary">https:/abiyat.com</span>
							                  </li>
							                 
							                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
							                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
							                    <span class="text-secondary">@zzz</span>
							                  </li>
							                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
							                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
							                    <span class="text-secondary">zzz</span>
							                  </li>
							                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
							                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
							                    <span class="text-secondary">zeee</span>
							                  </li>
							                </ul>
							              </div>
							            </div>
							            <div class="col-md-8">
							              <div class="card mb-3">
							                <div class="card-body">
							                  <div class="row">
							                    <div class="col-sm-3">
							                      <h6 class="mb-0">Full Name</h6>
							                    </div>
							                    <div class="col-sm-9 text-secondary">
							                      Zeeshan But
							                    </div>
							                  </div>
							                  <hr>
							                  <div class="row">
							                    <div class="col-sm-3">
							                      <h6 class="mb-0">Email</h6>
							                    </div>
							                    <div class="col-sm-9 text-secondary">
							                      zeeshan.butt93@gmail.com
							                    </div>
							                  </div>
							                  <hr>
							                  <div class="row">
							                    <div class="col-sm-3">
							                      <h6 class="mb-0">Phone</h6>
							                    </div>
							                    <div class="col-sm-9 text-secondary">
							                      (111) 222-333
							                    </div>
							                  </div>
							                  <hr>
							                  <div class="row">
							                    <div class="col-sm-3">
							                      <h6 class="mb-0">Mobile</h6>
							                    </div>
							                    <div class="col-sm-9 text-secondary">
							                      (111) 222-333
							                    </div>
							                  </div>
							                  <hr>
							                  <div class="row">
							                    <div class="col-sm-3">
							                      <h6 class="mb-0">Address</h6>
							                    </div>
							                    <div class="col-sm-9 text-secondary">
							                      Lahore
							                    </div>
							                  </div>
							                </div>
							              </div>
							              <div class="row gutters-sm">
							                <div class="col-sm-12 mb-3">
							                  <div class="card h-100">
							                    <div class="card-body">
							                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Order</i> Status</h6>
							                      <small>Total Order</small>
							                      <div class="progress mb-3" style="height: 5px">
							                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
							                      </div>
							                      <small>Pending Order</small>
							                      <div class="progress mb-3" style="height: 5px">
							                        <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
							                      </div>
							                      <small>Cancel order</small>
							                      <div class="progress mb-3" style="height: 5px">
							                        <div class="progress-bar bg-danger" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
							                      </div>
							                     
							                      
							                    </div>
							                  </div>
							                </div>
							              </div>
							            </div>
							          </div>
							        </div>
							    </div>
						  </div>
						  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
						  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						  	<div class="table-responsive">
						  	<table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr><th>Alias</th>
                                    <th>Address 1</th>
                                    <th>Address 2</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Zip</th>
                                    <th>Phone</th>
                                    <th>Actions</th>
                                </tr></thead>
                                <tbody>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>office</td>
                                        <td>gulberg</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>PAKISTAN</td>
                                        <td>54000</td>
                                        <td>09000</td>
                                        <td>
                                            <form method="post" action="http://65.0.71.248/customer/14/address/10" class="form-horizontal">
                                               
                                                    <input type="hidden" name="_method" value="delete">
                                                    <input type="hidden" name="_token" value="a3y7IgUQq7ZVHFhTjVqvyfuA7z6xtmr1hD7RrRIz">
                                                    <a href="http://65.0.71.248/customer/14/address/10/edit" class="btn btn-primary btn-sm"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger btn-sm"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
						  </div>
						</div>
						
					</div>
				</div>

			</div>
            
            
    </div>

    <footer class="footer mt-5">
		<div class="container-fluid bg-lite pt-4 mb-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h5 class="mb-0"><b>We're Always Here To Help</b></h5>
						<p>Reach out to us through any of these support channels</p>
					</div>
					<div class="col-lg-6 col-md-12 help-line">
						<div class="row">
							<div class="col-md-4">
								<a href="https://help.abiyat.com/hc/en-us" target="_blank">
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-info"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">HELP CENTER</p>
	    								<h6><b>help.abiyat.com</b></h6>
	    							</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="#" href="mailto:care@abiyat.com" target="_blank" >
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-envelope-o"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">EMAIL SUPPORT</p>
	    								<h6><b>care@abiyat.com</b></h6>
	    							</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="tel:80038888" target="_blank">
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-phone"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">PHONE SUPPORT</p>
	    								<h6><b>800-38888</b></h6>
	    							</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>ELECTRONICS</h5>
						<a href="#">Mobiles</a>
						<a href="#">Tablets</a>
						<a href="#">Laptops</a>
						<a href="#">Home Appliances</a>
						<a href="#">Camera, Photo & Video</a>
						<a href="#">Televisions</a>
						<a href="#">Headphones</a>
						<a href="#">Video Games</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6  mb-3">
					<div class="footer-link">
						<h5>FASHION</h5>
						<a href="#">Women's Fashion</a>
						<a href="#">Men's Fashion</a>
						<a href="#">Girls' Fashion</a>
						<a href="#">Boys' Fashion</a>
						<a href="#">Watches</a>
						<a href="#">Jewellery</a>
						<a href="#">Women's Handbags</a>
						<a href="#">Men's Eyewear</a>

					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6  mb-3">
					<div class="footer-link">
						<h5>HOME AND KITCHEN</h5>
						<a href="#">Bath</a>
						<a href="#">Home Decor</a>
						<a href="#">Kitchen & Dining</a>
						<a href="#">Tools & Home Improvement</a>
						<a href="#">Audio & Video</a>
						<a href="#">Furniture</a>
						<a href="#">Patio, Lawn & Garden</a>
						<a href="#">Pet Supplies</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>BEAUTY</h5>
						<a href="#">Fragrance</a>
						<a href="#">Make-Up</a>
						<a href="#">Haircare</a>
						<a href="#">Skincare</a>
						<a href="#">Personal Care</a>
						<a href="#">Tools & Accessories</a>
						<a href="#">Men's Grooming</a>
						<a href="#">Health Care Essentials</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>BABY</h5>

						<a href="#">Strollers & Prams</a>
						<a href="#">Car Seats</a>
						<a href="#">Feeding</a>
						<a href="#">Bathing & Skincare</a>
						<a href="#">Diapering</a>
						<a href="#">Baby Clothing & Shoes</a>
						<a href="#">Baby & Toddler Toys</a>
						<a href="#">Baby Foods</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>TOP BRANDS</h5>
						<a href="#">Mothercare</a>
						<a href="#">Apple</a>
						<a href="#">Nike</a>
						<a href="#">Samsung</a>
						<a href="#">Tefal</a>
						<a href="#">L'Oreal Paris</a>
						<a href="#">Skechers</a>
						<a href="#">Silsal</a>
					</div>
				</div>
			</div>
			<div class="row mt-5 mb-3">
				<div class="col-md-6 mb-3">
					<div class="text-center">

						<h5 class="h5 mb-0">SHOP ON THE GO</h5>
						<a href="#">
							<img src="images/google-play.svg" width="100" height="50" alt="" title="">
						</a>
						<a href="#"><img src="images/app-store.svg" width="100" height="50" alt="" title=""></a>

					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center sociallinks">
						<h5 class="h5 mb-1">CONNECT WITH US</h5>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-lite pt-4 mb-3">
			<div class="row">
				<div class="col-md-3">
					<p>© 2020 <a href="#">abiyat.com</a> All Rights Reserved</p>
				</div>
				<div class="col-md-3">
					<img src="images/card.png" alt="" title="" width="150">
				</div>
				<div class="col-md-6">
					<a href="#" class="mr-3">Careers</a>
					<a href="#" class="mr-3">Warranty Policy</a>
					<a href="#" class="mr-3">Sell with us</a>
					<a href="#" class="mr-3">Terms of Use</a>
					<a href="#" class="mr-3">Terms of Sale</a>
					<a href="#" class="mr-3">Privacy Policy</a>
					<a href="#" class="mr-3">Consumer Rights</a>
				</div>
			</div>
		</div>
     </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="owl_carousel/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="http://65.0.71.248/public_assets/owl_carousel/js/owl.carousel.min.js"></script>

    <script type="text/javascript">
  !(function(n, i, e, a) {
  (n.navigation = function(t, s) {
    var o = {
        responsive: !0,
        mobileBreakpoint: 991,
        showDuration: 200,
        hideDuration: 200,
        showDelayDuration: 0,
        hideDelayDuration: 0,
        submenuTrigger: "hover",
        effect: "fade",
        submenuIndicator: !0,
        submenuIndicatorTrigger: !1,
        hideSubWhenGoOut: !0,
        visibleSubmenusOnMobile: !1,
        fixed: !1,
        overlay: !0,
        overlayColor: "rgba(0, 0, 0, 0.5)",
        hidden: !1,
        hiddenOnMobile: !1,
        offCanvasSide: "left",
        offCanvasCloseButton: !0,
        animationOnShow: "",
        animationOnHide: "",
        onInit: function() {},
        onLandscape: function() {},
        onPortrait: function() {},
        onShowOffCanvas: function() {},
        onHideOffCanvas: function() {}
      },
      r = this,
      u = Number.MAX_VALUE,
      d = 1,
      l = "click.nav touchstart.nav",
      f = "mouseenter focusin",
      c = "mouseleave focusout";
    r.settings = {};
    var t = (n(t), t);
    n(t).find(".nav-search").length > 0 &&
      n(t)
        .find(".nav-search")
        .find("form")
        .prepend(
          "<span class='nav-search-close-button' tabindex='0'>&#10005;</span>"
        ),
      (r.init = function() {
        (r.settings = n.extend({}, o, s)),
          r.settings.offCanvasCloseButton &&
            n(t)
              .find(".nav-menus-wrapper")
              .prepend(
                "<span class='nav-menus-wrapper-close-button'>&#10005;</span>"
              ),
          "right" == r.settings.offCanvasSide &&
            n(t)
              .find(".nav-menus-wrapper")
              .addClass("nav-menus-wrapper-right"),
          r.settings.hidden &&
            (n(t).addClass("navigation-hidden"),
            (r.settings.mobileBreakpoint = 99999)),
          v(),
          r.settings.fixed && n(t).addClass("navigation-fixed"),
          n(t)
            .find(".nav-toggle")
            .on("click touchstart", function(n) {
              n.stopPropagation(),
                n.preventDefault(),
                r.showOffcanvas(),
                s !== a && r.callback("onShowOffCanvas");
            }),
          n(t)
            .find(".nav-menus-wrapper-close-button")
            .on("click touchstart", function() {
              r.hideOffcanvas(), s !== a && r.callback("onHideOffCanvas");
            }),
          n(t)
            .find(".nav-search-button, .nav-search-close-button")
            .on("click touchstart keydown", function(i) {
              i.stopPropagation(), i.preventDefault();
              var e = i.keyCode || i.which;
              "click" === i.type ||
              "touchstart" === i.type ||
              ("keydown" === i.type && 13 == e)
                ? r.toggleSearch()
                : 9 == e && n(i.target).blur();
            }),
          n(t).find(".megamenu-tabs").length > 0 && y(),
          n(i).resize(function() {
            r.initNavigationMode(C()), O(), r.settings.hiddenOnMobile && m();
          }),
          r.initNavigationMode(C()),
          r.settings.hiddenOnMobile && m(),
          s !== a && r.callback("onInit");
      });
    var h = function() {
        n(t)
          .find(".nav-submenu")
          .hide(0),
          n(t)
            .find("li")
            .removeClass("focus");
      },
      v = function() {
        n(t)
          .find("li")
          .each(function() {
            n(this).children(".nav-dropdown,.megamenu-panel").length > 0 &&
              (n(this)
                .children(".nav-dropdown,.megamenu-panel")
                .addClass("nav-submenu"),
              r.settings.submenuIndicator &&
                n(this)
                  .children("a")
                  .append(
                    "<span class='submenu-indicator'><span class='submenu-indicator-chevron'></span></span>"
                  ));
          });
      },
      m = function() {
        n(t).hasClass("navigation-portrait")
          ? n(t).addClass("navigation-hidden")
          : n(t).removeClass("navigation-hidden");
      };
    (r.showSubmenu = function(i, e) {
      C() > r.settings.mobileBreakpoint &&
        n(t)
          .find(".nav-search")
          .find("form")
          .fadeOut(),
        "fade" == e
          ? n(i)
              .children(".nav-submenu")
              .stop(!0, !0)
              .delay(r.settings.showDelayDuration)
              .fadeIn(r.settings.showDuration)
              .removeClass(r.settings.animationOnHide)
              .addClass(r.settings.animationOnShow)
          : n(i)
              .children(".nav-submenu")
              .stop(!0, !0)
              .delay(r.settings.showDelayDuration)
              .slideDown(r.settings.showDuration)
              .removeClass(r.settings.animationOnHide)
              .addClass(r.settings.animationOnShow),
        n(i).addClass("focus");
    }),
      (r.hideSubmenu = function(i, e) {
        "fade" == e
          ? n(i)
              .find(".nav-submenu")
              .stop(!0, !0)
              .delay(r.settings.hideDelayDuration)
              .fadeOut(r.settings.hideDuration)
              .removeClass(r.settings.animationOnShow)
              .addClass(r.settings.animationOnHide)
          : n(i)
              .find(".nav-submenu")
              .stop(!0, !0)
              .delay(r.settings.hideDelayDuration)
              .slideUp(r.settings.hideDuration)
              .removeClass(r.settings.animationOnShow)
              .addClass(r.settings.animationOnHide),
          n(i)
            .removeClass("focus")
            .find(".focus")
            .removeClass("focus");
      });
    var p = function() {
        n("body").addClass("no-scroll"),
          r.settings.overlay &&
            (n(t).append("<div class='nav-overlay-panel'></div>"),
            n(t)
              .find(".nav-overlay-panel")
              .css("background-color", r.settings.overlayColor)
              .fadeIn(300)
              .on("click touchstart", function(n) {
                r.hideOffcanvas();
              }));
      },
      g = function() {
        n("body").removeClass("no-scroll"),
          r.settings.overlay &&
            n(t)
              .find(".nav-overlay-panel")
              .fadeOut(400, function() {
                n(this).remove();
              });
      };
    (r.showOffcanvas = function() {
      p(),
        "left" == r.settings.offCanvasSide
          ? n(t)
              .find(".nav-menus-wrapper")
              .css("transition-property", "left")
              .addClass("nav-menus-wrapper-open")
          : n(t)
              .find(".nav-menus-wrapper")
              .css("transition-property", "right")
              .addClass("nav-menus-wrapper-open");
    }),
      (r.hideOffcanvas = function() {
        n(t)
          .find(".nav-menus-wrapper")
          .removeClass("nav-menus-wrapper-open")
          .on(
            "webkitTransitionEnd moztransitionend transitionend oTransitionEnd",
            function() {
              n(t)
                .find(".nav-menus-wrapper")
                .css("transition-property", "none")
                .off();
            }
          ),
          g();
      }),
      (r.toggleOffcanvas = function() {
        C() <= r.settings.mobileBreakpoint &&
          (n(t)
            .find(".nav-menus-wrapper")
            .hasClass("nav-menus-wrapper-open")
            ? (r.hideOffcanvas(), s !== a && r.callback("onHideOffCanvas"))
            : (r.showOffcanvas(), s !== a && r.callback("onShowOffCanvas")));
      }),
      (r.toggleSearch = function() {
        "none" ==
        n(t)
          .find(".nav-search")
          .find("form")
          .css("display")
          ? (n(t)
              .find(".nav-search")
              .find("form")
              .fadeIn(200),
            n(t)
              .find(".nav-search")
              .find("input")
              .focus())
          : (n(t)
              .find(".nav-search")
              .find("form")
              .fadeOut(200),
            n(t)
              .find(".nav-search")
              .find("input")
              .blur());
      }),
      (r.initNavigationMode = function(i) {
        r.settings.responsive
          ? (i <= r.settings.mobileBreakpoint &&
              u > r.settings.mobileBreakpoint &&
              (n(t)
                .addClass("navigation-portrait")
                .removeClass("navigation-landscape"),
              S(),
              s !== a && r.callback("onPortrait")),
            i > r.settings.mobileBreakpoint &&
              d <= r.settings.mobileBreakpoint &&
              (n(t)
                .addClass("navigation-landscape")
                .removeClass("navigation-portrait"),
              k(),
              g(),
              r.hideOffcanvas(),
              s !== a && r.callback("onLandscape")),
            (u = i),
            (d = i))
          : (n(t).addClass("navigation-landscape"),
            k(),
            s !== a && r.callback("onLandscape"));
      });
    var b = function() {
        n("html").on("click.body touchstart.body", function(i) {
          0 === n(i.target).closest(".navigation").length &&
            (n(t)
              .find(".nav-submenu")
              .fadeOut(),
            n(t)
              .find(".focus")
              .removeClass("focus"),
            n(t)
              .find(".nav-search")
              .find("form")
              .fadeOut());
        });
      },
      C = function() {
        return (
          i.innerWidth || e.documentElement.clientWidth || e.body.clientWidth
        );
      },
      w = function() {
        n(t)
          .find(".nav-menu")
          .find("li, a")
          .off(l)
          .off(f)
          .off(c);
      },
      O = function() {
        if (C() > r.settings.mobileBreakpoint) {
          var i = n(t).outerWidth(!0);
          n(t)
            .find(".nav-menu")
            .children("li")
            .children(".nav-submenu")
            .each(function() {
              n(this)
                .parent()
                .position().left +
                n(this).outerWidth() >
              i
                ? n(this).css("right", 0)
                : n(this).css("right", "auto");
            });
        }
      },
      y = function() {
        function i(i) {
          var e = n(i)
              .children(".megamenu-tabs-nav")
              .children("li"),
            a = n(i).children(".megamenu-tabs-pane");
          n(e).on("click.tabs touchstart.tabs", function(i) {
            i.stopPropagation(),
              i.preventDefault(),
              n(e).removeClass("active"),
              n(this).addClass("active"),
              n(a)
                .hide(0)
                .removeClass("active"),
              n(a[n(this).index()])
                .show(0)
                .addClass("active");
          });
        }
        if (n(t).find(".megamenu-tabs").length > 0)
          for (var e = n(t).find(".megamenu-tabs"), a = 0; a < e.length; a++)
            i(e[a]);
      },
      k = function() {
        w(),
          h(),
          navigator.userAgent.match(/Mobi/i) ||
          navigator.maxTouchPoints > 0 ||
          "click" == r.settings.submenuTrigger
            ? n(t)
                .find(".nav-menu, .nav-dropdown")
                .children("li")
                .children("a")
                .on(l, function(e) {
                  if (
                    (r.hideSubmenu(
                      n(this)
                        .parent("li")
                        .siblings("li"),
                      r.settings.effect
                    ),
                    n(this)
                      .closest(".nav-menu")
                      .siblings(".nav-menu")
                      .find(".nav-submenu")
                      .fadeOut(r.settings.hideDuration),
                    n(this).siblings(".nav-submenu").length > 0)
                  ) {
                    if (
                      (e.stopPropagation(),
                      e.preventDefault(),
                      "none" ==
                        n(this)
                          .siblings(".nav-submenu")
                          .css("display"))
                    )
                      return (
                        r.showSubmenu(n(this).parent("li"), r.settings.effect),
                        O(),
                        !1
                      );
                    if (
                      (r.hideSubmenu(n(this).parent("li"), r.settings.effect),
                      "_blank" === n(this).attr("target") ||
                        "blank" === n(this).attr("target"))
                    )
                      i.open(n(this).attr("href"));
                    else {
                      if (
                        "#" === n(this).attr("href") ||
                        "" === n(this).attr("href") ||
                        "javascript:void(0)" === n(this).attr("href")
                      )
                        return !1;
                      i.location.href = n(this).attr("href");
                    }
                  }
                })
            : n(t)
                .find(".nav-menu")
                .find("li")
                .on(f, function() {
                  r.showSubmenu(this, r.settings.effect), O();
                })
                .on(c, function() {
                  r.hideSubmenu(this, r.settings.effect);
                }),
          r.settings.hideSubWhenGoOut && b();
      },
      S = function() {
        w(),
          h(),
          r.settings.visibleSubmenusOnMobile
            ? n(t)
                .find(".nav-submenu")
                .show(0)
            : (n(t)
                .find(".submenu-indicator")
                .removeClass("submenu-indicator-up"),
              r.settings.submenuIndicator && r.settings.submenuIndicatorTrigger
                ? n(t)
                    .find(".submenu-indicator")
                    .on(l, function(i) {
                      return (
                        i.stopPropagation(),
                        i.preventDefault(),
                        r.hideSubmenu(
                          n(this)
                            .parent("a")
                            .parent("li")
                            .siblings("li"),
                          "slide"
                        ),
                        r.hideSubmenu(
                          n(this)
                            .closest(".nav-menu")
                            .siblings(".nav-menu")
                            .children("li"),
                          "slide"
                        ),
                        "none" ==
                        n(this)
                          .parent("a")
                          .siblings(".nav-submenu")
                          .css("display")
                          ? (n(this).addClass("submenu-indicator-up"),
                            n(this)
                              .parent("a")
                              .parent("li")
                              .siblings("li")
                              .find(".submenu-indicator")
                              .removeClass("submenu-indicator-up"),
                            n(this)
                              .closest(".nav-menu")
                              .siblings(".nav-menu")
                              .find(".submenu-indicator")
                              .removeClass("submenu-indicator-up"),
                            r.showSubmenu(
                              n(this)
                                .parent("a")
                                .parent("li"),
                              "slide"
                            ),
                            !1)
                          : (n(this)
                              .parent("a")
                              .parent("li")
                              .find(".submenu-indicator")
                              .removeClass("submenu-indicator-up"),
                            void r.hideSubmenu(
                              n(this)
                                .parent("a")
                                .parent("li"),
                              "slide"
                            ))
                      );
                    })
                : n(t)
                    .find(".nav-menu, .nav-dropdown")
                    .children("li")
                    .children("a")
                    .on(l, function(e) {
                      if (
                        (e.stopPropagation(),
                        e.preventDefault(),
                        r.hideSubmenu(
                          n(this)
                            .parent("li")
                            .siblings("li"),
                          r.settings.effect
                        ),
                        r.hideSubmenu(
                          n(this)
                            .closest(".nav-menu")
                            .siblings(".nav-menu")
                            .children("li"),
                          "slide"
                        ),
                        "none" ==
                          n(this)
                            .siblings(".nav-submenu")
                            .css("display"))
                      )
                        return (
                          n(this)
                            .children(".submenu-indicator")
                            .addClass("submenu-indicator-up"),
                          n(this)
                            .parent("li")
                            .siblings("li")
                            .find(".submenu-indicator")
                            .removeClass("submenu-indicator-up"),
                          n(this)
                            .closest(".nav-menu")
                            .siblings(".nav-menu")
                            .find(".submenu-indicator")
                            .removeClass("submenu-indicator-up"),
                          r.showSubmenu(n(this).parent("li"), "slide"),
                          !1
                        );
                      if (
                        (n(this)
                          .parent("li")
                          .find(".submenu-indicator")
                          .removeClass("submenu-indicator-up"),
                        r.hideSubmenu(n(this).parent("li"), "slide"),
                        "_blank" === n(this).attr("target") ||
                          "blank" === n(this).attr("target"))
                      )
                        i.open(n(this).attr("href"));
                      else {
                        if (
                          "#" === n(this).attr("href") ||
                          "" === n(this).attr("href") ||
                          "javascript:void(0)" === n(this).attr("href")
                        )
                          return !1;
                        i.location.href = n(this).attr("href");
                      }
                    }));
      };
    (r.callback = function(n) {
      s[n] !== a && s[n].call(t);
    }),
      r.init();
  }),
    (n.fn.navigation = function(i) {
      return this.each(function() {
        if (a === n(this).data("navigation")) {
          var e = new n.navigation(this, i);
          n(this).data("navigation", e);
        }
      });
    });
})(jQuery, window, document);



(function ($) {
    'use strict';

    var $window = $(window);

    if ($.fn.navigation) {
        $("#navigation1").navigation();
        $("#always-hidden-nav").navigation({
            hidden: true
        });
    }

            $window.on('load', function () {
        $('#preloader').fadeOut('slow', function () {
            $(this).remove();
        });
    });

})(jQuery);
</script>

    <script>
    $(document).ready(function()
    {
        "use strict";

        var menuActive = false;
        var header = $('.header');
        setHeader();
        initCustomDropdown();
        initPageMenu();

        function setHeader()
        {

            if(window.innerWidth > 991 && menuActive)
            {
            closeMenu();
            }
        }

        function initCustomDropdown()
        {
        if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
        {
        var placeholder = $('.custom_dropdown_placeholder');
        var list = $('.custom_list');
        }

        placeholder.on('click', function (ev)
        {
        if(list.hasClass('active'))
        {
        list.removeClass('active');
        }
        else
        {
        list.addClass('active');
        }

        $(document).one('click', function closeForm(e)
        {
        if($(e.target).hasClass('clc'))
        {
        $(document).one('click', closeForm);
        }
        else
        {
        list.removeClass('active');
        }
        });

        });

        $('.custom_list a').on('click', function (ev)
        {
        ev.preventDefault();
        var index = $(this).parent().index();

        placeholder.text( $(this).text() ).css('opacity', '1');

        if(list.hasClass('active'))
        {
        list.removeClass('active');
        }
        else
        {
        list.addClass('active');
        }
        });


        $('select').on('change', function (e)
        {
        placeholder.text(this.value);

        $(this).animate({width: placeholder.width() + 'px' });
        });
        }

        /*

        4. Init Page Menu

        */

        function initPageMenu()
        {
        if($('.page_menu').length && $('.page_menu_content').length)
        {
        var menu = $('.page_menu');
        var menuContent = $('.page_menu_content');
        var menuTrigger = $('.menu_trigger');

        //Open / close page menu
        menuTrigger.on('click', function()
        {
        if(!menuActive)
        {
        openMenu();
        return false;
        }
        else
        {
        closeMenu();
        return false;
        }
        });

        //Handle page menu
        if($('.page_menu_item').length)
        {
        var items = $('.page_menu_item');
        items.each(function()
        {
        var item = $(this);
        if(item.hasClass("has-children"))
        {
        item.on('click', function(evt)
        {
        evt.preventDefault();
        evt.stopPropagation();
        var subItem = item.find('> ul');
        if(subItem.hasClass('active'))
        {
        subItem.toggleClass('active');
        TweenMax.to(subItem, 0.3, {height:0});
        }
        else
        {
        subItem.toggleClass('active');
        TweenMax.set(subItem, {height:"auto"});
        TweenMax.from(subItem, 0.3, {height:0});
        }
        });
        }
        });
        }
        }
        }

        function openMenu()
        {
        var menu = $('.page_menu');
        var menuContent = $('.page_menu_content');
        TweenMax.set(menuContent, {height:"auto"});
        TweenMax.from(menuContent, 0.3, {height:0});
        menuActive = true;
        }

        function closeMenu()
        {
        var menu = $('.page_menu');
        var menuContent = $('.page_menu_content');
        TweenMax.to(menuContent, 0.3, {height:0});
        menuActive = false;
        }

        $("#recommended-for-you,#recommended-for-you-2,#recommended-for-you-3").owlCarousel({
            items : 7,
            itemsDesktop : [1199,6],
            // itemsDesktopSmall : [980,4],
            itemsTablet: [768,4],
            // itemsTabletSmall: false,
            itemsMobile : [479,2],
            pagination : false,
            navigation : true,
            navigationText : ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
            autoPlay : false,
            stopOnHover : true
        });


    });

 $('.menu_trigger').click(function() {
    $('.page_menu_content').addClass('showDiv');
  });


 $('.hidePanle').click(function() {
    $('.page_menu_content').removeClass('showDiv');
  });

    </script>
    
</body>
</html>



