<!doctype html>
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d15b038ad9.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custome style sheet -->
    <link rel="stylesheet"  href="stylecustom.css" type="text/css">

    <link rel="stylesheet" href="owl_carousel/css/owl.carousel.min.css" type="text/css" >
    <link rel="stylesheet" href="owl_carousel/css/owl.theme.min.css" type="text/css" >
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        
        <title>ABIYAT Shop Page</title>  
        <style>
    .custom-checkbox .custom-control-indicator .custom-control-input {
    background-color: #fff;
    border: 1px solid #2c2b2c;
    border-radius: 50%;
    height: 25px;
    width: 25px; 
    }
    .custom-control-input:checked~.custom-control-label::before {
        color: #343a40;
        border-color: #005e00;
        background-color:#005e00;
    }
    .floatLeft {
    display: inline-block;
    }
    
    .shadow-sm-category{
    /* border: 1px solid #000000; */
    border-radius: 50%;
    padding: 10%;
    background-color: #e5efe5;
    }
    
    .categories-section::-webkit-scrollbar {
    width: 0px;
    background: transparent; /*/ make scrollbar transparent / */
    }

    .icon-control {
        margin-top: 5px;
        float: right;
        font-size: 80%;
    }

    .list-menu a {
        color: #343a40;
    }

    .list-menu a:hover {
        color: #005e00;
    }

    .custom-control-label {
        color : #000;
    }

</style>    
</head>

<body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> -->
        <div class="super_container">
            <!-- Header -->
             <!-- Header -->
			 <header class="header">
				<!-- Top Bar -->
				<div class="top_bar">
					<div class="container-fluid">
						<div class="row">
							<div class="col d-flex flex-row">
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="fab fa-whatsapp"></i><a href="#" class="text-white pl-2 ">+91 9823 132 111</a></div>
								</div>
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="far fa-envelope"></i><a href="#" class="text-white pl-2 ">contact@abiyat.com</a></div>
								</div>
								<div class="top_bar_content ml-auto">
									<div class="top_bar_menu">
										<ul class="standard_dropdown top_bar_dropdown">
											<li> <a href="#" class="text-white">English<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">Italian</a></li>
													<li><a href="#">Spanish</a></li>
													<li><a href="#">Japanese</a></li>
												</ul>
											</li>
											<li> <a href="#" class="text-white">$ US dollar<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">EUR Euro</a></li>
													<li><a href="#">GBP British Pound</a></li>
													<li><a href="#">JPY Japanese Yen</a></li>
												</ul>
											</li>
											
												<!-- <li><a class="text-white" href="{{ route('accounts', ['tab' => 'profile']) }}"><i class="fa fa-home"></i> My Account</a></li> -->
												<!-- <li><a class="text-white" href="{{ route('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li> -->
										
												<li><a class="text-white" href="{{ route('login') }}"> <i class="fas fa-lock"></i> Login</a></li>
												<li><a class="text-white" href="{{ route('register') }}"> <i class="fas fa-sign-in"></i> Register</a></li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Header Main -->
				<div class="header_main">
					<div class="container-fluid">
						<div class="row">
							<!-- Logo -->
							<div class="col-lg-2 col-sm-10 col-10 order-1">
								<div class="logo_container  menu_burger">
								
								<div class="cat_burger menu_burger_inner burger_menu_zee">
								<div class="menu_trigger"> <span></span><span></span><span></span></div>
								</div>
									<div class="logo " style="display: inline-block;"><a href="{{route('home')}}" class="text-white" >Abiyat</a></div>
								</div>
							
							</div> <!-- Search -->
							<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
								<div class="header_search">
									<div class="header_search_content">
										<div class="header_search_form_container">
											<form action="#" class="header_search_form clearfix"> <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
												<div class="custom_dropdown" style="display: none;">
													<div class="custom_dropdown_list"> <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
														<ul class="custom_list clc">
															<li><a class="clc" href="#">All Categories</a></li>
															<li><a class="clc" href="#">Computers</a></li>
															<li><a class="clc" href="#">Laptops</a></li>
															<li><a class="clc" href="#">Cameras</a></li>
															<li><a class="clc" href="#">Hardware</a></li>
															<li><a class="clc" href="#">Smartphones</a></li>
														</ul>
													</div>
												</div> <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
											</form>
										</div>
									</div>
								</div>
							</div> <!-- Wishlist -->
							<div class="col-lg-4 col-2 order-lg-3 order-2 text-lg-left text-right">
								<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
									<div class="wishlist d-flex flex-row align-items-center justify-content-end">
										<div class="wishlist_icon"><img src="images/wishlisticon.png" alt=""></div>
										<div class="wishlist_content">
											<div class="wishlist_text"><a href="#">Wishlist</a></div>
											<div class="wishlist_count">10</div>
										</div>
									</div> <!-- Cart -->
									<a href="{{ route('cart.index') }}">
									<div class="cart">
										<div class="cart_container d-flex flex-row align-items-center justify-content-end">
											<div class="cart_icon"> <img src="images/carticon.png" alt="">
												<div class="cart_count"><span>2</span></div>
											</div>
											<div class="cart_content">
												<div class="cart_text"><a href="#">Cart</a></div>
												<div class="cart_price">$185</div>
											</div>
										</div>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Main Navigation -->
				<nav class="main_nav">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<div class="main_nav_content d-flex flex-row">
									<!-- Categories Menu -->
									<!-- Main Nav Menu -->
									<div class="main_nav_menu">
										<ul class="standard_dropdown main_nav_dropdown">
											<li class="hassubs"> <a href="#" >All Categories<i class="fas fa-caret-down"></i></a>
												<ul>
													<li><a href="#">Electronics</a></li>
													<li><a href="#">Fasion</a></li>
													<li><a href="#">Home & Kitchen</a></li>
													<li><a href="#">Beauty & Fragrance</a></li>
													<li><a href="#">Baby & Toys</a></li>
													<li><a href="#">Grocery</a></li>
													<li><a href="#">Sports</a></li>
													<li><a href="#">Groceries</a></li>
												</ul>
											</li>
											
											<li class="hassubs"> <a href="#">Electronics<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li> <a href="#">Lenovo<i class="fas fa-chevron-down"></i></a>
														<ul>
															<li><a href="#">Lenovo 1<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Lenovo 3<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Lenovo 2<i class="fas fa-chevron-down"></i></a></li>
														</ul>
													</li>
													<li><a href="#">DELL<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">APPLE<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">HP<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"> <a href="#">Fashion<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li> <a href="#">Makeup<i class="fas fa-chevron-down"></i></a>
														<ul>
															<li><a href="#">Lipstic<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Eye Liner<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Base<i class="fas fa-chevron-down"></i></a></li>
														</ul>
													</li>
													<li><a href="#">Lipstic<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Eye Liner<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Base<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"> <a href="#">Home<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"><a href="#">Beauty & Fragrance<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Baby & Toys<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Groceries<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Sports<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Mobiles<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</div> <!-- Menu Trigger -->
									<!-- <div class="menu_trigger_container ml-auto">
										<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
											<div class="menu_burger">
												<div class="menu_trigger_text">menu</div>
												<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
											</div>
										</div>
									</div -->
								</div>
							</div>
						</div>
					</div>
				</nav> <!-- Menu -->
				<div class="page_menu">
					<div class="container">
						<div class="row">
							<div class="col" style="padding-right: 0px;padding-left: 0px;">
								<div class="page_menu_content">
									<div class="page_menu_search">
										<form action="#"> <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products..."> </form>
									</div>
									<ul class="page_menu_nav">
										<div class="hidePanle">
											<i class="fa fa-close"></i>
										</div>
										<li class="page_menu_item has-children"> <a href="#">Language<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Currency<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item"> <a href="#">Home<i class="fa fa-angle-down"></i></a> </li>
										<li class="page_menu_item has-children"> <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
												<li class="page_menu_item has-children"> <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
													<ul class="page_menu_selection">
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
													</ul>
												</li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
									</ul>
									<div class="menu_contact">
										<div class="menu_contact_item">
											<div class="menu_contact_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+38 068 005 3570
										</div>
										<div class="menu_contact_item">
											<div class="menu_contact_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

        
            <div class="container">
            	<div class="row">
            		<div class="col-md-12">
            			<div class="threeSteps">
            				<div class="siteWidthContainer">
            					<ul class="steps">
            						<li class="step">

            							<span class="active">1</span>
            							<div class="text">Shipping Address</div>
            						</li>
            						<li class="step">
            							<span>2</span><div class="text">Payment</div>
            						</li>
            						<li class="step"><span>3</span><div class="text">Order Placed</div></li>
            					</ul>
            				</div>
            			</div>
            		</div>
            	</div>
            	
            </div>
            <div class="container-fluid pt-3 pb-3 bg-lite1">
            	<div class="container">
            		<div class="row mb-3">
            			<div class="col-md-12">
	            			<a href="#" class="back_btn">
	            				<i class="fas fa-chevron-left"></i> Back to Addresses
	            			</a>
	            		</div>
            		</div>
            		<div class="row">
            			<div class="col-md-12 EditAddress">
            				<div class="name p-2">Edit Address</div>
            				 <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="400" frameborder="0" style="border:0"></iframe>
            				 <div class="search-location">
            				 	<div class="form-group">
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unnamed Road - International City - Dubai">
								    
								  </div>
            				 </div>
            				 <div class="name w-100 float-left p-2">
            				 	<button class="btn btn-primary float-right">Confirm location</button>
            				 </div>
            			</div>
            		</div>
            	</div>
            	
            </div>

          <footer class="footer mt-5">
		<div class="container-fluid bg-lite pt-4 mb-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h5 class="mb-0"><b>We're Always Here To Help</b></h5>
						<p>Reach out to us through any of these support channels</p>
					</div>
					<div class="col-lg-6 col-md-12 help-line">
						<div class="row">
							<div class="col-md-4">
								<a href="https://help.abiyat.com/hc/en-us" target="_blank">
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-info"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">HELP CENTER</p>
	    								<h6><b>help.abiyat.com</b></h6>
	    							</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="#" href="mailto:care@abiyat.com" target="_blank" >
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-envelope-o"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">EMAIL SUPPORT</p>
	    								<h6><b>care@abiyat.com</b></h6>
	    							</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="tel:80038888" target="_blank">
	    							<div class="icon float-left mr-2">
	    								<i class="fa fa-phone"></i>
	    							</div>
	    							<div class="text">
	    								<p class="mb-0">PHONE SUPPORT</p>
	    								<h6><b>800-38888</b></h6>
	    							</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>ELECTRONICS</h5>
						<a href="#">Mobiles</a>
						<a href="#">Tablets</a>
						<a href="#">Laptops</a>
						<a href="#">Home Appliances</a>
						<a href="#">Camera, Photo & Video</a>
						<a href="#">Televisions</a>
						<a href="#">Headphones</a>
						<a href="#">Video Games</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6  mb-3">
					<div class="footer-link">
						<h5>FASHION</h5>
						<a href="#">Women's Fashion</a>
						<a href="#">Men's Fashion</a>
						<a href="#">Girls' Fashion</a>
						<a href="#">Boys' Fashion</a>
						<a href="#">Watches</a>
						<a href="#">Jewellery</a>
						<a href="#">Women's Handbags</a>
						<a href="#">Men's Eyewear</a>

					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6  mb-3">
					<div class="footer-link">
						<h5>HOME AND KITCHEN</h5>
						<a href="#">Bath</a>
						<a href="#">Home Decor</a>
						<a href="#">Kitchen & Dining</a>
						<a href="#">Tools & Home Improvement</a>
						<a href="#">Audio & Video</a>
						<a href="#">Furniture</a>
						<a href="#">Patio, Lawn & Garden</a>
						<a href="#">Pet Supplies</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>BEAUTY</h5>
						<a href="#">Fragrance</a>
						<a href="#">Make-Up</a>
						<a href="#">Haircare</a>
						<a href="#">Skincare</a>
						<a href="#">Personal Care</a>
						<a href="#">Tools & Accessories</a>
						<a href="#">Men's Grooming</a>
						<a href="#">Health Care Essentials</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>BABY</h5>

						<a href="#">Strollers & Prams</a>
						<a href="#">Car Seats</a>
						<a href="#">Feeding</a>
						<a href="#">Bathing & Skincare</a>
						<a href="#">Diapering</a>
						<a href="#">Baby Clothing & Shoes</a>
						<a href="#">Baby & Toddler Toys</a>
						<a href="#">Baby Foods</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-3">
					<div class="footer-link">
						<h5>TOP BRANDS</h5>
						<a href="#">Mothercare</a>
						<a href="#">Apple</a>
						<a href="#">Nike</a>
						<a href="#">Samsung</a>
						<a href="#">Tefal</a>
						<a href="#">L'Oreal Paris</a>
						<a href="#">Skechers</a>
						<a href="#">Silsal</a>
					</div>
				</div>
			</div>
			<div class="row mt-5 mb-3">
				<div class="col-md-6 mb-3">
					<div class="text-center">

						<h5 class="h5 mb-0">SHOP ON THE GO</h5>
						<a href="#">
							<img src="images/google-play.svg" width="100" height="50" alt="" title="">
						</a>
						<a href="#"><img src="images/app-store.svg" width="100" height="50" alt="" title=""></a>

					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center sociallinks">
						<h5 class="h5 mb-1">CONNECT WITH US</h5>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-lite pt-4 mb-3">
			<div class="row">
				<div class="col-md-3">
					<p>© 2020 <a href="#">abiyat.com</a> All Rights Reserved</p>
				</div>
				<div class="col-md-3">
					<img src="images/card.png" alt="" title="" width="150">
				</div>
				<div class="col-md-6">
					<a href="#" class="mr-3">Careers</a>
					<a href="#" class="mr-3">Warranty Policy</a>
					<a href="#" class="mr-3">Sell with us</a>
					<a href="#" class="mr-3">Terms of Use</a>
					<a href="#" class="mr-3">Terms of Sale</a>
					<a href="#" class="mr-3">Privacy Policy</a>
					<a href="#" class="mr-3">Consumer Rights</a>
				</div>
			</div>
		</div>
     </footer>
        </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d15b038ad9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function()
        {
            "use strict";
    
            var menuActive = false;
            var header = $('.header');
            setHeader();
            initCustomDropdown();
            initPageMenu();
    
            function setHeader()
            {
    
                if(window.innerWidth > 991 && menuActive)
                {
                closeMenu();
                }
            }
    
            function initCustomDropdown()
            {
            if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
            {
            var placeholder = $('.custom_dropdown_placeholder');
            var list = $('.custom_list');
            }
    
            placeholder.on('click', function (ev)
            {
            if(list.hasClass('active'))
            {
            list.removeClass('active');
            }
            else
            {
            list.addClass('active');
            }
    
            $(document).one('click', function closeForm(e)
            {
            if($(e.target).hasClass('clc'))
            {
            $(document).one('click', closeForm);
            }
            else
            {
            list.removeClass('active');
            }
            });
    
            });
    
            $('.custom_list a').on('click', function (ev)
            {
            ev.preventDefault();
            var index = $(this).parent().index();
    
            placeholder.text( $(this).text() ).css('opacity', '1');
    
            if(list.hasClass('active'))
            {
            list.removeClass('active');
            }
            else
            {
            list.addClass('active');
            }
            });
    
    
            $('select').on('change', function (e)
            {
            placeholder.text(this.value);
    
            $(this).animate({width: placeholder.width() + 'px' });
            });
            }
    
            /*
    
            4. Init Page Menu
    
            */
    
            function initPageMenu()
            {
            if($('.page_menu').length && $('.page_menu_content').length)
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            var menuTrigger = $('.menu_trigger');
    
            //Open / close page menu
            menuTrigger.on('click', function()
            {
            if(!menuActive)
            {
            openMenu();
            return false;
            }
            else
            {
            closeMenu();
            return false;
            }
            });
    
            //Handle page menu
            if($('.page_menu_item').length)
            {
            var items = $('.page_menu_item');
            items.each(function()
            {
            var item = $(this);
            if(item.hasClass("has-children"))
            {
            item.on('click', function(evt)
            {
            evt.preventDefault();
            evt.stopPropagation();
            var subItem = item.find('> ul');
            if(subItem.hasClass('active'))
            {
            subItem.toggleClass('active');
            TweenMax.to(subItem, 0.3, {height:0});
            }
            else
            {
            subItem.toggleClass('active');
            TweenMax.set(subItem, {height:"auto"});
            TweenMax.from(subItem, 0.3, {height:0});
            }
            });
            }
            });
            }
            }
            }
    
            function openMenu()
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.set(menuContent, {height:"auto"});
            TweenMax.from(menuContent, 0.3, {height:0});
            menuActive = true;
            }
    
            function closeMenu()
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.to(menuContent, 0.3, {height:0});
            menuActive = false;
            }
    
            $("#recommended-for-you,#recommended-for-you-2,#recommended-for-you-3").owlCarousel({
                items : 7,
                itemsDesktop : [1199,6],
                // itemsDesktopSmall : [980,4],
                itemsTablet: [768,4],
                // itemsTabletSmall: false,
                itemsMobile : [479,2],
                pagination : false,
                navigation : true,
                navigationText : ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
                autoPlay : false,
                stopOnHover : true
            });
    
    
        });

 $('.menu_trigger').click(function() {
    $('.page_menu_content').addClass('showDiv');
  });


 $('.hidePanle').click(function() {
    $('.page_menu_content').removeClass('showDiv');
  });

        </script>
    
</body>
</html>



