<!doctype html>
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d15b038ad9.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custome style sheet -->
    <link rel="stylesheet"  href="stylecustom.css" type="text/css">

    <link rel="stylesheet" href="owl_carousel/css/owl.carousel.min.css" type="text/css" >
    <link rel="stylesheet" href="owl_carousel/css/owl.theme.min.css" type="text/css" >

        
        <title>ABIYAT Shop Page</title>  
        <style>
    .custom-checkbox .custom-control-indicator .custom-control-input {
    background-color: #fff;
    border: 1px solid #2c2b2c;
    border-radius: 50%;
    height: 25px;
    width: 25px; 
    }
    .custom-control-input:checked~.custom-control-label::before {
        color: #343a40;
        border-color: #005e00;
        background-color:#005e00;
    }
    .floatLeft {
    display: inline-block;
    }
    
    .shadow-sm-category{
    /* border: 1px solid #000000; */
    border-radius: 50%;
    padding: 10%;
    background-color: #e5efe5;
    }
    
    .categories-section::-webkit-scrollbar {
    width: 0px;
    background: transparent; /*/ make scrollbar transparent / */
    }

    .icon-control {
        margin-top: 5px;
        float: right;
        font-size: 80%;
    }

    .list-menu a {
        color: #343a40;
    }

    .list-menu a:hover {
        color: #005e00;
    }

    .custom-control-label {
        color : #000;
    }

</style>    
</head>

<body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> -->
        <div class="super_container">
            <!-- Header -->
             <!-- Header -->
			<header class="header">
				<!-- Top Bar -->
				<div class="top_bar">
					<div class="container">
						<div class="row">
							<div class="col d-flex flex-row">
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="fab fa-whatsapp"></i><a href="#" class="text-white pl-2 ">+91 9823 132 111</a></div>
								</div>
								<div class="top_bar_contact_item">
									<div class="top_bar_icon"><i class="far fa-envelope"></i><a href="#" class="text-white pl-2 ">contact@abiyat.com</a></div>
								</div>
								<div class="top_bar_content ml-auto">
									<div class="top_bar_menu">
										<ul class="standard_dropdown top_bar_dropdown">
											<li> <a href="#" class="text-white">English<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">Italian</a></li>
													<li><a href="#">Spanish</a></li>
													<li><a href="#">Japanese</a></li>
												</ul>
											</li>
											<li> <a href="#" class="text-white">$ US dollar<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">EUR Euro</a></li>
													<li><a href="#">GBP British Pound</a></li>
													<li><a href="#">JPY Japanese Yen</a></li>
												</ul>
											</li>
											
												<!-- <li><a class="text-white" href="{{ route('accounts', ['tab' => 'profile']) }}"><i class="fa fa-home"></i> My Account</a></li> -->
												<!-- <li><a class="text-white" href="{{ route('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li> -->
										
												<li><a class="text-white" href="{{ route('login') }}"> <i class="fas fa-lock"></i> Login</a></li>
												<li><a class="text-white" href="{{ route('register') }}"> <i class="fas fa-sign-in"></i> Register</a></li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Header Main -->
				<div class="header_main">
					<div class="container">
						<div class="row">
							<!-- Logo -->
							<div class="col-lg-2 col-sm-10 col-10 order-1">
								<div class="logo_container  menu_burger">
								
								<div class="cat_burger menu_burger_inner burger_menu_zee">
								<div class="menu_trigger"> <span></span><span></span><span></span></div>
								</div>
									<div class="logo " style="display: inline-block;"><a href="{{route('home')}}" class="text-white" >Abiyat</a></div>
								</div>
							
							</div> <!-- Search -->
							<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
								<div class="header_search">
									<div class="header_search_content">
										<div class="header_search_form_container">
											<form action="#" class="header_search_form clearfix"> <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
												<div class="custom_dropdown" style="display: none;">
													<div class="custom_dropdown_list"> <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
														<ul class="custom_list clc">
															<li><a class="clc" href="#">All Categories</a></li>
															<li><a class="clc" href="#">Computers</a></li>
															<li><a class="clc" href="#">Laptops</a></li>
															<li><a class="clc" href="#">Cameras</a></li>
															<li><a class="clc" href="#">Hardware</a></li>
															<li><a class="clc" href="#">Smartphones</a></li>
														</ul>
													</div>
												</div> <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
											</form>
										</div>
									</div>
								</div>
							</div> <!-- Wishlist -->
							<div class="col-lg-4 col-2 order-lg-3 order-2 text-lg-left text-right">
								<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
									<div class="wishlist d-flex flex-row align-items-center justify-content-end">
										<div class="wishlist_icon"><img src="images/wishlisticon.png" alt=""></div>
										<div class="wishlist_content">
											<div class="wishlist_text"><a href="#">Wishlist</a></div>
											<div class="wishlist_count">10</div>
										</div>
									</div> <!-- Cart -->
									<a href="{{ route('cart.index') }}">
									<div class="cart">
										<div class="cart_container d-flex flex-row align-items-center justify-content-end">
											<div class="cart_icon"> <img src="images/carticon.png" alt="">
												<div class="cart_count"><span>2</span></div>
											</div>
											<div class="cart_content">
												<div class="cart_text"><a href="#">Cart</a></div>
												<div class="cart_price">$185</div>
											</div>
										</div>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Main Navigation -->
				<nav class="main_nav">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="main_nav_content d-flex flex-row">
									<!-- Categories Menu -->
									<!-- Main Nav Menu -->
									<div class="main_nav_menu">
										<ul class="standard_dropdown main_nav_dropdown">
											<li class="hassubs"> <a href="#" >All Categories<i class="fas fa-caret-down"></i></a>
												<ul>
													<li><a href="#">Electronics</a></li>
													<li><a href="#">Fasion</a></li>
													<li><a href="#">Home & Kitchen</a></li>
													<li><a href="#">Beauty & Fragrance</a></li>
													<li><a href="#">Baby & Toys</a></li>
													<li><a href="#">Grocery</a></li>
													<li><a href="#">Sports</a></li>
													<li><a href="#">Groceries</a></li>
												</ul>
											</li>
											
											<li class="hassubs"> <a href="#">Electronics<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li> <a href="#">Lenovo<i class="fas fa-chevron-down"></i></a>
														<ul>
															<li><a href="#">Lenovo 1<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Lenovo 3<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Lenovo 2<i class="fas fa-chevron-down"></i></a></li>
														</ul>
													</li>
													<li><a href="#">DELL<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">APPLE<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">HP<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"> <a href="#">Fashion<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li> <a href="#">Makeup<i class="fas fa-chevron-down"></i></a>
														<ul>
															<li><a href="#">Lipstic<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Eye Liner<i class="fas fa-chevron-down"></i></a></li>
															<li><a href="#">Base<i class="fas fa-chevron-down"></i></a></li>
														</ul>
													</li>
													<li><a href="#">Lipstic<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Eye Liner<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Base<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"> <a href="#">Home<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li class="hassubs"><a href="#">Beauty & Fragrance<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Baby & Toys<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Groceries<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Sports<i class="fas fa-chevron-down"></i></a></li>
											<li class="hassubs"><a href="#">Mobiles<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</div> <!-- Menu Trigger -->
									<!-- <div class="menu_trigger_container ml-auto">
										<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
											<div class="menu_burger">
												<div class="menu_trigger_text">menu</div>
												<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
											</div>
										</div>
									</div -->
								</div>
							</div>
						</div>
					</div>
				</nav> <!-- Menu -->
				<div class="page_menu">
					<div class="container">
						<div class="row">
							<div class="col" style="padding-right: 0px;padding-left: 0px;">
								<div class="page_menu_content">
									<div class="page_menu_search">
										<form action="#"> <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products..."> </form>
									</div>
									<ul class="page_menu_nav">
										<li class="page_menu_item has-children"> <a href="#">Language<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Currency<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item"> <a href="#">Home<i class="fa fa-angle-down"></i></a> </li>
										<li class="page_menu_item has-children"> <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
												<li class="page_menu_item has-children"> <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
													<ul class="page_menu_selection">
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
														<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
													</ul>
												</li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item has-children"> <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
									</ul>
									<div class="menu_contact">
										<div class="menu_contact_item">
											<div class="menu_contact_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+38 068 005 3570
										</div>
										<div class="menu_contact_item">
											<div class="menu_contact_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
        
            

            <section class="section-content">
            
                <div class="container-fluid p-3 bg-light">
                    <div class="row">
                        <div class="col-12">
                            <!-- Breadcrumbs open -->
                            <div class="container-fluid">
                                <div class="row" >
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb breadcrumb-arrow p-0">
                                            <li class="breadcrumb-item"><a href="#" class="text-uppercase pl-3">Home</a></li>
                                            <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">PAGE 1</a></li>
                                            <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">PAGE 2</a></li>
                                            <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">PAGE 3</a></li>
                                            <li aria-current="page" class="breadcrumb-item pl-0 active text-uppercase pl-4">CURRENT PAGE</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <!-- Breadcrumbs close -->
                        </div>
                    </div>
                    <div class="row">
                        <!-- side bar category col open -->
                        <aside class="col-md-3" style="color:#005e00">
                            <div class="card">
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="" style="color:#005e00">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Product type</h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse show" id="collapse_1" >
                                        <div class="card-body">
                                            <form class="pb-3">
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                            </div>
                                            </form>
                                            
                                            <ul class="list-menu">
                                            <li><a href="#"style="color:#005e00">People  </a></li>
                                            <li><a href="#"style="color:#005e00">Watches </a></li>
                                            <li><a href="#"style="color:#005e00">Cinema  </a></li>
                                            <li><a href="#"style="color:#005e00">Clothes  </a></li>
                                            <li><a href="#"style="color:#005e00">Home items </a></li>
                                            <li><a href="#"style="color:#005e00">Animals</a></li>
                                            <li><a href="#"style="color:#005e00">People </a></li>
                                            </ul>
                            
                                        </div> <!-- card-body.// -->
                                    </div>
                                </article> <!-- filter-group  .// -->
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="" style="color:#005e00">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Brands </h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse show" id="collapse_2" >
                                        <div class="card-body">
                                            <label class="custom-control custom-checkbox" >
                                            <input type="checkbox" checked="" class="custom-control-input">
                                            <div class="custom-control-label">Mercedes  
                                                <b class="badge badge-pill badge-light float-right">120</b>  
                                            </div>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" checked="" class="custom-control-input">
                                                <div class="custom-control-label">Toyota 
                                                    <b class="badge badge-pill badge-light float-right">15</b>  
                                                </div>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                            <input type="checkbox" checked="" class="custom-control-input">
                                            <div class="custom-control-label">Mitsubishi 
                                                <b class="badge badge-pill badge-light float-right">35</b> </div>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                            <input type="checkbox" checked="" class="custom-control-input">
                                            <div class="custom-control-label">Nissan 
                                                <b class="badge badge-pill badge-light float-right">89</b> </div>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <div class="custom-control-label">Honda 
                                                <b class="badge badge-pill badge-light float-right">30</b>  </div>
                                            </label>
                                </div> <!-- card-body.// -->
                                    </div>
                                </article> <!-- filter-group .// -->
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="" style="color:#005e00">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Price range </h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse show" id="collapse_3" >
                                        <div class="card-body">
                                            <input type="range" class="custom-range" min="0" max="100" name="" style="color:#005e00">
                                            <div class="form-row">
                                            <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input class="form-control" placeholder="$0" type="number">
                                            </div>
                                            <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input class="form-control" placeholder="$1,0000" type="number">
                                            </div>
                                            </div> <!-- form-row.// -->
                                            <button class="btn btn-block" style="color:#fff;background-color:#005e00">Apply</button>
                                        </div><!-- card-body.// -->
                                    </div>
                                </article> <!-- filter-group .// -->
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="" style="color:#005e00">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">Sizes </h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse show" id="collapse_4" >
                                        <div class="card-body">
                                        <label class="checkbox-btn">
                                            <input type="checkbox">
                                            <span class="btn btn-light"> XS </span>
                                        </label>
                            
                                        <label class="checkbox-btn">
                                            <input type="checkbox">
                                            <span class="btn btn-light"> SM </span>
                                        </label>
                            
                                        <label class="checkbox-btn">
                                            <input type="checkbox">
                                            <span class="btn btn-light"> LG </span>
                                        </label>
                            
                                        <label class="checkbox-btn">
                                            <input type="checkbox">
                                            <span class="btn btn-light"> XXL </span>
                                        </label>
                                    </div><!-- card-body.// -->
                                    </div>
                                </article> <!-- filter-group .// -->
                                <article class="filter-group">
                                    <header class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="" style="color:#005e00">
                                            <i class="icon-control fa fa-chevron-down"></i>
                                            <h6 class="title">More filter </h6>
                                        </a>
                                    </header>
                                    <div class="filter-content collapse in" id="collapse_5">
                                        <div class="card-body">
                                            <label class="custom-control custom-radio">
                                            <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                            <div class="custom-control-label">Any condition</div>
                                            </label>
                            
                                            <label class="custom-control custom-radio">
                                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                                            <div class="custom-control-label">Brand new </div>
                                            </label>
                            
                                            <label class="custom-control custom-radio">
                                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                                            <div class="custom-control-label">Used items</div>
                                            </label>
                            
                                            <label class="custom-control custom-radio">
                                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                                            <div class="custom-control-label">Very old</div>
                                            </label>
                                        </div><!-- card-body.// -->
                                    </div>
                                </article> <!-- filter-group .// -->
                            </div> <!-- card.// --> 
                        </aside> 
                        <!-- side bar category col open -->
                        
                        <main class="col-md-9 ">
                    
                            <header class="pt-2">
                                    <div class="form-inline border-bottom pb-2">
                                        <span class="mr-md-auto form-inline"><b class="pr-1">32</b>Items found for <b class="pl-1">Treatments & Serums</b></span>
                                        <select name="Filter By" class="mr-2 form-control mt-2">
                                            <option Disabled >Filter By</option>
                                            <option>Latest items</option>
                                            <option>Trending</option>
                                            <option>Most Popular</option>
                                            <option>Cheapest</option>
                                        </select>
                                    </div>
                                    <div class="form-inline border-bottom pt-2 pb-2">
                                        <span class="mr-md-auto form-inline mr-2">Sort by:
                                        <div>
                                            <button class="btn btn-default filter-button border ml-1" data-filter="photo">Mobiles</button>
                                            <button class="btn btn-default filter-button border ml-1" data-filter="graphic">Apple</button>
                                            <button class="btn btn-default filter-button border ml-1" data-filter="webdesign">Color</button>
                                            <button class="btn filter-button border ml-1" ><i class="fas fa-times"></i></button>
                                        </div>
                                    </span>
                                    </div>
                                    
                            </header><!-- sect-heading -->
                            
                            <div class="row d-flex justify-content-center" style="width: auto; height: auto;">
                                
                                <!-- Product 1 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 1 close -->
                                <!-- Product 2 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 2 close -->
 
                                <!-- Product 3 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 3 close -->

                                <!-- Product 4 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 4 close -->
                                <!-- Product 5 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 5 close -->

                                <!-- Product 6 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 6 close -->
                                <!-- Product 7 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 7 close -->
                                <!-- Product 8 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 8 close -->

                                <!-- Product 9 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 9 close -->
                                <!-- Product 10 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 10 close -->
                                <!-- Product 11 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 11 close -->
                                <!-- Product 12 Open -->
                                <div style="width:auto; height:fit-content; max-width: 155px;">
                                    <a href="#" class="text-decoration-non text-dark m-2">
                                        <div class=" rounded-lg ml-1 mr-1 top-discount-bar-color text-truncate">
                                            <span class="pl-2 pr-2 top-discount-bar" >get 10% discount</span>
                                        </div>    
                                        <div class="p-1">
                                            <img src="images/product1.png" class="img-fluid" alt="">
                                        </div >
                                        <div class="ml-2 mr-2 descriptio-div ">
                                            <span class="product-detail product-description" >Product 1<br>Product 1<br>Product 1</span>
                                        </div>
                                        <div class="from-inline pl-2 pr-2">
                                            <span class="text-muted currency-name" >AED</span>
                                            <span class="currecny-value"><b>19.50</b></span>
                                            <span class="currency-line">AED</span>
                                            <span class="value-line">57</span>
                                        </div>
                                        <div class="form-inline pl-2 p-0">
                                            <img src="images/PRODUCT EX.png" class="image-tag"  alt="">
                                            <span class="bg-light pl-2 off-value" > 27% OFF</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Product 12 close -->
                                
                            </div> <!-- row end.// -->
                            
                            
                            <nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                            </nav>
                    
                        </main> <!-- col.// -->
                    
                    </div>
                
                </div> <!-- container .//  -->
            </section>
            
            
        </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d15b038ad9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function()
        {
            "use strict";
    
            var menuActive = false;
            var header = $('.header');
            setHeader();
            initCustomDropdown();
            initPageMenu();
    
            function setHeader()
            {
    
                if(window.innerWidth > 991 && menuActive)
                {
                closeMenu();
                }
            }
    
            function initCustomDropdown()
            {
            if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
            {
            var placeholder = $('.custom_dropdown_placeholder');
            var list = $('.custom_list');
            }
    
            placeholder.on('click', function (ev)
            {
            if(list.hasClass('active'))
            {
            list.removeClass('active');
            }
            else
            {
            list.addClass('active');
            }
    
            $(document).one('click', function closeForm(e)
            {
            if($(e.target).hasClass('clc'))
            {
            $(document).one('click', closeForm);
            }
            else
            {
            list.removeClass('active');
            }
            });
    
            });
    
            $('.custom_list a').on('click', function (ev)
            {
            ev.preventDefault();
            var index = $(this).parent().index();
    
            placeholder.text( $(this).text() ).css('opacity', '1');
    
            if(list.hasClass('active'))
            {
            list.removeClass('active');
            }
            else
            {
            list.addClass('active');
            }
            });
    
    
            $('select').on('change', function (e)
            {
            placeholder.text(this.value);
    
            $(this).animate({width: placeholder.width() + 'px' });
            });
            }
    
            /*
    
            4. Init Page Menu
    
            */
    
            function initPageMenu()
            {
            if($('.page_menu').length && $('.page_menu_content').length)
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            var menuTrigger = $('.menu_trigger');
    
            //Open / close page menu
            menuTrigger.on('click', function()
            {
            if(!menuActive)
            {
            openMenu();
            return false;
            }
            else
            {
            closeMenu();
            return false;
            }
            });
    
            //Handle page menu
            if($('.page_menu_item').length)
            {
            var items = $('.page_menu_item');
            items.each(function()
            {
            var item = $(this);
            if(item.hasClass("has-children"))
            {
            item.on('click', function(evt)
            {
            evt.preventDefault();
            evt.stopPropagation();
            var subItem = item.find('> ul');
            if(subItem.hasClass('active'))
            {
            subItem.toggleClass('active');
            TweenMax.to(subItem, 0.3, {height:0});
            }
            else
            {
            subItem.toggleClass('active');
            TweenMax.set(subItem, {height:"auto"});
            TweenMax.from(subItem, 0.3, {height:0});
            }
            });
            }
            });
            }
            }
            }
    
            function openMenu()
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.set(menuContent, {height:"auto"});
            TweenMax.from(menuContent, 0.3, {height:0});
            menuActive = true;
            }
    
            function closeMenu()
            {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.to(menuContent, 0.3, {height:0});
            menuActive = false;
            }
    
            $("#recommended-for-you,#recommended-for-you-2,#recommended-for-you-3").owlCarousel({
                items : 7,
                itemsDesktop : [1199,6],
                // itemsDesktopSmall : [980,4],
                itemsTablet: [768,4],
                // itemsTabletSmall: false,
                itemsMobile : [479,2],
                pagination : false,
                navigation : true,
                navigationText : ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
                autoPlay : false,
                stopOnHover : true
            });
    
    
        });
        </script>
    
</body>
</html>



